body {color: #495057; background: #fff; }

.text-white { color:#fff!important }
.text-primary { color:#3f6ad8!important }
a.text-primary:hover,
a.text-primary:focus { color:#2248a8!important }
.text-secondary { color:#6c757d!important }
a.text-secondary:hover,
a.text-secondary:focus { color:#494f54!important }
.text-success { color:#3ac47d!important }
a.text-success:hover,
a.text-success:focus { color:#298957!important }
.text-info { color:#16aaff!important }
a.text-info:hover,
a.text-info:focus { color:#007fc9!important }
.text-warning { color:#f7b924!important }
a.text-warning:hover,
a.text-warning:focus { color:#c78f07!important }
.text-danger { color:#d92550!important }
a.text-danger:hover,
a.text-danger:focus { color:#981a38!important }
.text-light { color:#eee!important }
a.text-light:hover,
a.text-light:focus { color:#c8c8c8!important }
.text-dark { color:#343a40!important }
a.text-dark:hover,
a.text-dark:focus { color:#121416!important }
.text-focus { color:#444054!important }
a.text-focus:hover,
a.text-focus:focus { color:#211f29!important }
.text-alternate { color:#794c8a!important }
a.text-alternate:hover,
a.text-alternate:focus { color:#4e3159!important }
.text-body { color:#495057!important }
.text-muted { color:#6c757d!important }
.text-black-50 { color:rgba(0, 0, 0, .5)!important }
.text-white-50 { color:rgba(255, 255, 255, .5)!important }

.btn-link {color:#002337;}
.btn-gradient-primary { background-image:linear-gradient(140deg, #ffb81c -30%, #e26501  90%); background-color:#ffb81c; border-color:#ffb81c; color:#fff }
.btn-gradient-primary.active, .btn-gradient-primary:active, .btn-gradient-primary:not(:disabled):not(.disabled):hover {background-image:linear-gradient(120deg, #e26501  0%, #ffb81c03 100%);color:#fff;border-color:#ffb81c}
.btn-gradient-primary:focus,
.btn-gradient-primary.focus,
.btn-gradient-primary:active,
.btn-gradient-primary.active { color:#fff!important; border-color:#1e3f93!important }
.btn-gradient-primary.btn-shadow { box-shadow:0 .125rem .625rem rgba(63, 106, 216, .4), 0 .0625rem .125rem rgba(63, 106, 216, .5)}
.btn-gradient-primary.btn-shadow:hover { box-shadow:0 .125rem .625rem rgba(63, 106, 216, .5), 0 .0625rem .125rem rgba(63, 106, 216, .6)}
.btn-gradient-secondary { background-image:linear-gradient(140deg, #494f54 -30%, #6c757d 90%); background-color:#494f54; border-color:#494f54; color:#fff }
.btn-gradient-secondary.active, .btn-gradient-secondary:active, .btn-gradient-secondary:not(:disabled):not(.disabled):hover {background-image:linear-gradient(120deg, #41474c 0%, #656d75 100%);color:#fff;border-color:#313539}
.btn-gradient-secondary:focus,
.btn-gradient-secondary.focus,
.btn-gradient-secondary:active,
.btn-gradient-secondary.active { color:#fff!important; border-color:#3d4246!important }
.btn-gradient-secondary.btn-shadow { box-shadow:0 .125rem .625rem rgba(108, 117, 125, .4), 0 .0625rem .125rem rgba(108, 117, 125, .5)}
.btn-gradient-secondary.btn-shadow:hover { box-shadow:0 .125rem .625rem rgba(108, 117, 125, .5), 0 .0625rem .125rem rgba(108, 117, 125, .6)}
.btn-gradient-success { background-image:linear-gradient(140deg, #298957 -30%, #3ac47d 90%); background-color:#298957; border-color:#298957; color:#fff }
.btn-gradient-success.active, .btn-gradient-success:active, .btn-gradient-success:not(:disabled):not(.disabled):hover {
background-image:linear-gradient(120deg, #257d50 0%, #37b875 100%);color:#fff;border-color:#1d623e}
.btn-gradient-success:focus,
.btn-gradient-success.focus,
.btn-gradient-success:active,
.btn-gradient-success.active { color:#fff!important; border-color:#23754b!important }
.btn-gradient-success.btn-shadow { box-shadow:0 .125rem .625rem rgba(58, 196, 125, .4), 0 .0625rem .125rem rgba(58, 196, 125, .5)}
.btn-gradient-success.btn-shadow:hover { box-shadow:0 .125rem .625rem rgba(58, 196, 125, .5), 0 .0625rem .125rem rgba(58, 196, 125, .6)}
.btn-gradient-info { background-image:linear-gradient(140deg, #007fc9 -30%, #16aaff 90%); background-color:#007fc9; border-color:#007fc9; color:#fff }
.btn-gradient-info.active, .btn-gradient-info:active, .btn-gradient-info:not(:disabled):not(.disabled):hover {background-image:linear-gradient(120deg, #0076b9 0%, #07a4ff 100%);color:#fff;border-color:#005f96}
.btn-gradient-info:focus,
.btn-gradient-info.focus,
.btn-gradient-info:active,
.btn-gradient-info.active { color:#fff!important; border-color:#006faf!important }
.btn-gradient-info.btn-shadow { box-shadow:0 .125rem .625rem rgba(22, 170, 255, .4), 0 .0625rem .125rem rgba(22, 170, 255, .5)}
.btn-gradient-info.btn-shadow:hover { box-shadow:0 .125rem .625rem rgba(22, 170, 255, .5), 0 .0625rem .125rem rgba(22, 170, 255, .6)}
.btn-gradient-warning { background-image:linear-gradient(140deg, #c78f07 -30%, #f7b924 90%); background-color:#c78f07; border-color:#c78f07; color:#fff }
.btn-gradient-warning.active, .btn-gradient-warning:active, .btn-gradient-warning:not(:disabled):not(.disabled):hover {background-image:linear-gradient(120deg, #b88407 0%, #f6b415 100%);color:#fff;border-color:#966c05}
.btn-gradient-warning:focus,
.btn-gradient-warning.focus,
.btn-gradient-warning:active,
.btn-gradient-warning.active { color:#fff!important; border-color:#af7d06!important }
.btn-gradient-warning.btn-shadow { box-shadow:0 .125rem .625rem rgba(247, 185, 36, .4), 0 .0625rem .125rem rgba(247, 185, 36, .5)}
.btn-gradient-warning.btn-shadow:hover { box-shadow:0 .125rem .625rem rgba(247, 185, 36, .5), 0 .0625rem .125rem rgba(247, 185, 36, .6)}
.btn-gradient-danger { background-image:linear-gradient(140deg, #981a38 -30%, #d92550 90%); background-color:#981a38; border-color:#981a38; color:#fff }
.btn-gradient-danger.active, .btn-gradient-danger:active, .btn-gradient-danger:not(:disabled):not(.disabled):hover {background-image:linear-gradient(120deg, #8b1833 0%, #cc234b 100%);color:#fff;border-color:#6c1228}
.btn-gradient-danger:focus,
.btn-gradient-danger.focus,
.btn-gradient-danger:active,
.btn-gradient-danger.active { color:#fff!important; border-color:#821630!important }
.btn-gradient-danger.btn-shadow { box-shadow:0 .125rem .625rem rgba(217, 37, 80, .4), 0 .0625rem .125rem rgba(217, 37, 80, .5)}
.btn-gradient-danger.btn-shadow:hover { box-shadow:0 .125rem .625rem rgba(217, 37, 80, .5), 0 .0625rem .125rem rgba(217, 37, 80, .6)}
.btn-gradient-focus { background-image:linear-gradient(140deg, #211f29 -30%, #444054 90%); background-color:#211f29; border-color:#211f29; color:#fff }
.btn-gradient-focus.active, .btn-gradient-focus:active, .btn-gradient-focus:not(:disabled):not(.disabled):hover {background-image:linear-gradient(120deg, #1a1820 0%, #3d394b 100%);color:#fff;border-color:#09090c}
.btn-gradient-focus:focus,
.btn-gradient-focus.focus,
.btn-gradient-focus:active,
.btn-gradient-focus.active { color:#fff!important; border-color:#15141a!important }
.btn-gradient-focus.btn-shadow { box-shadow:0 .125rem .625rem rgba(68, 64, 84, .4), 0 .0625rem .125rem rgba(68, 64, 84, .5)}
.btn-gradient-focus.btn-shadow:hover { box-shadow:0 .125rem .625rem rgba(68, 64, 84, .5), 0 .0625rem .125rem rgba(68, 64, 84, .6)}
.btn-gradient-alternate { background-image:linear-gradient(140deg, #4e3159 -30%, #794c8a 90%); background-color:#4e3159; border-color:#4e3159; color:#fff }
.btn-gradient-alternate.active, .btn-gradient-alternate:active, .btn-gradient-alternate:not(:disabled):not(.disabled):hover {
background-image:linear-gradient(120deg, #452b4f 0%, #704780 100%);color:#fff;border-color:#311f38}
.btn-gradient-alternate:focus,
.btn-gradient-alternate.focus,
.btn-gradient-alternate:active,
.btn-gradient-alternate.active { color:#fff!important; border-color:#3f2848!important }
.btn-gradient-alternate.btn-shadow { box-shadow:0 .125rem .625rem rgba(121, 76, 138, .4), 0 .0625rem .125rem rgba(121, 76, 138, .5)}
.btn-gradient-alternate.btn-shadow:hover { box-shadow:0 .125rem .625rem rgba(121, 76, 138, .5), 0 .0625rem .125rem rgba(121, 76, 138, .6)}
.btn-gradient-light { background-image:linear-gradient(140deg, #c8c8c8 -30%, #eee 90%); background-color:#c8c8c8; border-color:#c8c8c8; color:#212529 }
.btn-gradient-light.active, .btn-gradient-light:active, .btn-gradient-light:not(:disabled):not(.disabled):hover {background-image:linear-gradient(120deg, silver 0%, #e6e6e6 100%);color:#212529;border-color:#aeaeae}
.btn-gradient-light:focus,
.btn-gradient-light.focus,
.btn-gradient-light:active,
.btn-gradient-light.active { color:#212529!important; border-color:#bbb!important }
.btn-gradient-light.btn-shadow { box-shadow:0 .125rem .625rem rgba(238, 238, 238, .4), 0 .0625rem .125rem rgba(238, 238, 238, .5)}
.btn-gradient-light.btn-shadow:hover { box-shadow:0 .125rem .625rem rgba(238, 238, 238, .5), 0 .0625rem .125rem rgba(238, 238, 238, .6)}
.btn-gradient-dark { background-image:linear-gradient(140deg, #121416 -30%, #343a40 90%); background-color:#121416; border-color:#121416; color:#fff }
.btn-gradient-dark.active, .btn-gradient-dark:active, .btn-gradient-dark:not(:disabled):not(.disabled):hover {background-image:linear-gradient(120deg, #0b0c0d 0%, #2d3238 100%);color:#fff;border-color:#000}
.btn-gradient-dark:focus,
.btn-gradient-dark.focus,
.btn-gradient-dark:active,
.btn-gradient-dark.active { color:#fff!important; border-color:#060708!important }
.btn-gradient-dark.btn-shadow { box-shadow:0 .125rem .625rem rgba(52, 58, 64, .4), 0 .0625rem .125rem rgba(52, 58, 64, .5)}
.btn-gradient-dark.btn-shadow:hover { box-shadow:0 .125rem .625rem rgba(52, 58, 64, .5), 0 .0625rem .125rem rgba(52, 58, 64, .6)}
.btn.btn-shadow.active { box-shadow:0 0 0 0 transparent!important }
.btn-primary { color:#fff; background-color:#ffb81c; border-color:#ffb81c }
.btn-primary:hover { color:#fff; background-color:#002337; border-color:#002337 }
.btn-primary:focus,
.btn-primary.focus { box-shadow:0 0 0 0 rgba(92, 128, 222, .5) }
.btn-primary.disabled,
.btn-primary:disabled { color:#fff; background-color:#3f6ad8; border-color:#3f6ad8 }
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {color:#fff;background-color:#2651be;border-color:#244cb3}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
box-shadow:0 0 0 0 rgba(92, 128, 222, .5)}
.btn-primary.btn-shadow { box-shadow:0 .125rem .625rem rgba(63, 106, 216, .4), 0 .0625rem .125rem rgba(63, 106, 216, .5)}
.btn-primary.btn-shadow:hover { box-shadow:0 .125rem .625rem rgba(63, 106, 216, .5), 0 .0625rem .125rem rgba(63, 106, 216, .6)}
.btn-secondary { color:#fff; background-color:#6c757d; border-color:#6c757d }
.btn-secondary:hover { color:#fff; background-color:#5a6268; border-color:#545b62 }
.btn-secondary:focus,
.btn-secondary.focus { box-shadow:0 0 0 0 rgba(130, 138, 145, .5) }
.btn-secondary.disabled,
.btn-secondary:disabled { color:#fff; background-color:#6c757d; border-color:#6c757d }
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show>.btn-secondary.dropdown-toggle {
color:#fff;background-color:#545b62;border-color:#4e555b}