################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin/**
**/obj/**
**/.vs/**
**/node_modules/**
**/ui/build/**
**/publish/**
src/ui/.env
/src/raj-host/logs
/src/raj-host/BulkDataUploads
/db
